.App {
  text-align: center;  
 
}
 
body{
  background-image: url('./Components/Img/bgimg.jpg');
  background-repeat: no-repeat;
  background-position: bottom; 
  background-size:cover; 
  background-attachment: fixed;
  
 
}
 